/*** Mixins & Default Styles ***/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

/*** Color Variables ***/
/*** Centering Hack ***/
/*** Header Styles ***/
header {
  width: 100vw;
  height: 100vh;
  background: #5661F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer
{
    position: inherit; /* Фиксированное положение */
    padding: 10px; /* Поля вокруг текста */
    background: rgba(0, 0, 0, 0.5);
    color: #fff; /* Цвет текста */
    width: 100vw; /* Ширина слоя */
	  text-align: center;
}

footer
{
		background: url(../img/404505-free-download-wood-backgrounds-1920x1080.jpg);
    background-attachment: fixed;
}

/*** Navigation Styles ***/
nav {
  width: 100vw;
  height: 160px;
  background-image: url( ../img/wood-background-35.png);
  background-position: center;
  background-size: 100% 150%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
nav.navShadow {
  -webkit-box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
  height: 100px;
}
nav.navShadow #word-mark {
  opacity: 0;
}

#brand,
#menu{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu ul
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style:none;
}

#brand {
  padding-left: 20px;
}

#logo {
  width: 250px;
  height: 115px;
  background-image: url( ../img/logo1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 50px;
  cursor: pointer;
}

#word-mark {
  width: 120px;
  height: auto;
  background: #fff;
  border-radius: 90px;
  margin-left: 20px;
  text-align: center;
  padding: 5px;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*** Menu Styles ***/
#menu {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 30px;
  padding-left: 30px;
}

.menu li {
  margin-left: 10px;
}
.menu li a {
  width: 150px;
  background: #fff;
  display: block;
  border-radius: 90px;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  color:black;
}

#menu-toggle {
  width: 55px;
  height: 55px;
  z-index: 10;
  background: #2ea8ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
#menu-toggle:hover .bar {
  width: 25px;
}
#menu-toggle.closeMenu .bar {
  width: 25px;
}
#menu-toggle.closeMenu .bar:first-child {
  -webkit-transform: translateY(7px) rotate(45deg);
          transform: translateY(7px) rotate(45deg);
}
#menu-toggle.closeMenu .bar:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}
#menu-toggle.closeMenu .bar:last-child {
  -webkit-transform: translateY(-7px) rotate(-45deg);
          transform: translateY(-7px) rotate(-45deg);
}

.bar {
  width: 25px;
  height: 2px;
  background: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.bar:nth-child(2) {
  width: 20px;
  margin: 5px 0;
}
.bar:last-child {
  width: 15px;
}

/*** Hero Section Styles ***/
#hero-section {
  width: 100vw;
  height: calc(100vh - 160px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 160px;
	background-image: url( ../img/P80719-110346.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#head-line {
  width: 720px;
  height: auto;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 90px;
  position: relative;
	text-align: center;
	font-size: 28px;
	color:white;
	padding: 30px;
}
/*#head-line:before, #head-line:after {
  content: '';
  height: 30px;
  border-radius: 90px;
}
#head-line:before {
  width: 360px;
  background: #fff;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
#head-line:after {
  width: 200px;
  background: #fff;
  position: absolute;
  left: 50%;
  bottom: -60px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}*/

/*** Section Styles ***/
section {
  width: 100vw;
  height: 100%;
  /*display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;*/
  display: block;
  padding: 10px;
  background: url(../img/404505-free-download-wood-backgrounds-1920x1080.jpg);
  background-attachment: fixed;
}
/*section:nth-child(odd) {
  background: #B4B4B4;
}
section:nth-child(even) {
  background:  #DADADA;
}*/

#heading {
  width: 120px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  /*margin-top: 40px;*/
}

table
{
	width: 100%;
	max-width: 100%;
	border-spacing: 0;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	text-align: center;
	text-indent: 0%;
	margin: 10px 0;
}

table th
{
	background: #8D531B;
	border: 1px solid #000;
}

table td
{
	border: 1px solid #000;
}

p.tellephone
{
	display: block;
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	padding-top: 10px;
}

#tellephone
{
	color: #1c1c1c;
  text-decoration: none;
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	margin-left: 30px;
}

#tellephone:before
{
	background-image: url(../img/list_phone.png);
  background-repeat: no-repeat;
  background-position: center;
	background-color: #1c1c1c;
	border-radius: 99%;
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	width: 36px;
  height: 36px;
	z-index: 20;
	content: "";
	position: inherit;
  left: 0;
	top: 0px;
}

/*** Article style ***/
article
{
	width: 80%;
    margin: 0 auto;
	padding: 0 10px;
	font-size: 18px;
	text-indent: 5%;
	text-align: justify;
	background: rgba(255,245,215,.6);
}

article p.placement
{
	text-indent: 0%;
}

article ul
{
	margin-top: 10px;
	margin-left: 12px;
	list-style: none;
    padding: 0;
    border: 0;
    font: inherit;
	text-indent: 0%;
	text-align: justify;
}

article ul li
{
	list-style-image: url(../img/list2.png);
    list-style-position: outside;
	margin: 0 0 12px 0;
    line-height: 130%;
}

article ul li strong
{
	font-weight: normal;
    color: #2F2D2D;
}

article ul li a
{
	color: #603913;
}

.title_style
{
	border-bottom: #e8e8e8 1px solid;
    position: relative;
    padding: 0 0 10px 0;
    margin: 10px 0 20px 0;
	font-size: 20px;
	text-indent: 0;
}

.title-block
{
	background: #603913;
	width: 48px;
    height: 3px;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
}

h2.title_style
{
	font-size: 28px;
	padding: 10px 0 10px 0;
	text-align: center;
}

.pledge
{
	border: #e8e8e8 4px solid;
	border-radius: 10px;
}

/*** Responsive Menu For Smaller Device ***/
@media screen and (max-width: 1390px) {
  #menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu ul {
    display: inline-block;
    width: 100vw;
    height: 0;
    /*background: #79EDFC;*/
		background: url(../img/404505-free-download-wood-backgrounds-1920x1080.jpg);
    position: absolute;
    top: 160px;
    -webkit-transform: translate(, );
            transform: translate(, );
    -webkit-box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
	list-style:none;
  }
  ul.showMenu {
    height: 180px;
	
  }
  ul.showMenu li {
    height: 50px;
    opacity: 1;
    visibility: visible;
  }

  .menu li {
    width: 50%;
    height: 80px;
    float: left;
    padding-left: 25px;
    opacity: 0;
    visibility: hidden;
    margin-left: 0;
    -webkit-transition: all 0.3s 0.1s;
    transition: all 0.3s 0.1s;
  }
  .menu li:first-child, .menu li:nth-child(2) {
    margin-top: 15px;
  }	
	
  #head-line {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
	
	article
	{
		width: 100vw;
	}
}